apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: lab-final
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        # Image will be updated by CI/CD
        image: $REPLACE_WITH_ECR_FE_IMAGE
        ports:
        - containerPort: 80
        env:
        - name: VITE_API_URL
          value: "http://backend:5000" # Or LoadBalancer URL if accessed from client browser
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: lab-final
spec:
  type: LoadBalancer # Expose to internet
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: frontend
