apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: devops-mid-lab
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        # Image updated to ECR image
        image: 184437145027.dkr.ecr.us-east-1.amazonaws.com/lab-exam-backend:latest
        imagePullPolicy: Always

        ports:
        - containerPort: 5000
        env:
        - name: VITE_API_URL
          value: "http://backend:5000" # Or LoadBalancer URL if accessed from client browser
        - name: PORT
          value: "5000"
        - name: NODE_ENV
          value: "production"
        - name: MONGO_URI
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: MONGO_URI
        - name: POSTGRES_URI
          value: postgresql://postgres:password123@postgres:5432/devops_mid_lab
        - name: REDIS_URI
          value: redis://redis:6379
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: devops-mid-lab
spec:
  type: LoadBalancer # Expose to internet
  ports:
  - port: 80
    targetPort: 5000
  selector:
    app: frontend
